<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Log in</title>
  <link rel="stylesheet" href="/authStyles/auth.css" />
</head>
<body class="login-page">

  <div class="form-container">
    <h1 class="form-title">Log In</h1>

    <form action="/auth/login" method="post" class="auth-form">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" class="form-input" required>
      </div>

      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" class="form-input" required>
      </div>

      <button type="submit" class="btn-primary">Login</button>
    </form>

    <% if (error) { %>
      <p class="form-error"><%= error %></p>
    <% } %>

    <p class="form-note">Don't have an account? 
      <a href="/auth/sign-up" class="form-link">Sign up</a>.
    </p>
  </div>

</body>
</html>
