<!-- <link rel="stylesheet" href="/partialStyles/partial.css" />

<footer class="footer">
  <p class="footer-text">
    Your go-to platform for booking the latest and greatest movies. Enjoy a seamless experience every time!
  </p>
</footer> -->
<footer class="footer">
  <span class="footer-text">Your go-to platform for booking the latest and greatest movies. Enjoy a seamless experience every time!</span>
</footer>