<nav>
    <% if (user){ %>
    <a href="/auth/logout">Logout</a>
    <p>Welcome, <%= user.username %></p>

    <%} else{ %>
    <a href="/auth/login">Login</a>
    <a href="/auth/sign-up">Sign Up</a>
    <%} %>


    
</nav>

