<header>
    <% if (user){ %>
    <p>Welcome, <%= user.username %></p>
    <a href="/auth/logout">Logout</a>
    <a href="/home">Home</a>
    <a href="/movies/allMovies">Movies</a>

    <%} else{ %>
    <a href="/auth/login">Login</a>
    <a href="/auth/sign-up">Sign Up</a>
    <%} %> 
</header>

