<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/homeStyles/home.css">
    <link rel="stylesheet" href="/styles/shared.css">
    
</head>
<body>
    <%- include('./partials/navbar')%>
    
    <div class="home-page">
    <h1 class="welcome">WELCOME TO MOVIE HUB!</h1>
    <a  class="movies-btn" href="/movies/allMovies">Browse All Movies</a>
    </div>
    
    <%- include('./partials/footer')%>
</body>
</html>