<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/homeStyles/home.css">
    <link rel="stylesheet" href="/styles/shared.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Dancing+Script:wght@400..700&family=Knewave&family=Lobster&family=Lora:ital,wght@0,400..700;1,400..700&family=Pacifico&family=Reenie+Beanie&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('./partials/navbar')%>
    
    <div class="home-page">
    <h1 class="welcome">WELCOME TO MOVIE HUB!</h1>
    <a  class="movies-btn" href="/movies/allMovies">Browse All Movies</a>
    </div>
    
    <%- include('./partials/footer')%>
</body>
</html>