<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
</head>
<body>
    <%- include('../partials/navbar')%>
    <h1>All movies</h1>
    <!--Add different movies including their image and name and book now button-->
    <%- include('../partials/footer')%>
</body>
</html>